<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>前尘忆梦</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates Designed by Kimmy | ">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="css/zerogrid.css">
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/calendar.css">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	
	<link href='./images/s1.ico' rel='icon' type='image/x-icon'/>
    <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
    
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-model="res">
<div class="wrap-body zerogrid">
<!--------------Header--------------->
<header>
	<div class="wrap-header">
		
		<div class="top">
			<div class="socials">
				<ul>
					<li><a href="#" title="facebook"><img  src="images/socials/facebook-32x32.png"/></a></li>
					<li><a href="#" title="google"><img  src="images/socials/google-32x32.png"/></a></li>
					<li><a href="#" title="twitter"><img  src="images/socials/twitter-32x32.png"/></a></li>
					<li><a href="#" title="rss"><img  src="images/socials/rss-32x32.png"/></a></li>
					<li><a href="#" title="youtube"><img  src="images/socials/youtube-32x32.png"/></a></li>
				</ul>
			</div>
			<div id="search">
				<div class="button-search"></div>
				<input type="text" value="Search..." onfocus="if (this.value == &#39;Search...&#39;) {this.value = &#39;&#39;;}" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Search...&#39;;}">
			</div>
		</div>
		
		<div id="logo">
			<a href="#"><h1>静水流深</h1></a>
			<p>在每一条有形无形的流水之前,我都愿意自己是宁静得足以聆见水之清音的过客</p>
		</div>
		
		<nav>
			<div class="wrap-nav">
				<div class="menu">
					<ul>
						<li><a href="index1.html">Home</a></li>
						<li><a href="blog1.html">Blog</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="story.html">Story</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="addblog.html">Add Blog</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
	</div>
</header>

<!--------------Content--------------->
<section id="content">
	<div class="wrap-content">
		<div class="row block">
			 <div id="sidebar" class="col-1-3">
                    <div class="wrap-col">
                        <div class="box">
                            <div id="calendar" class="calendar"></div>
                            <script src="js/jquery.min.js"></script>
                            <script src="js/calendar.js"></script>

                        </div>
                        <div class="box">
                            <div class="heading"><h2>Catalog</h2></div>
                            <div class="content">
                                <ul>
                                    <li ng-repeat="x in result"><a ng-click="get_info(x.text_id)">{{x.title}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <div class="heading"><h2>Popular Post</h2></div>
                            <div class="content">
                                <div class="post" ng-repeat="x in result">
                                    <img ng-src="{{x.path}}" width="50px"/>
                                    <h4><a ng-click="get_info(x.text_id)">{{x.title}}</a></h4>
                                    <p>{{x.date}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			<div id="main-content" class="col-2-3">
				<div class="wrap-col">
					<article>
						<div class="heading">
							<h2><a href="#">{{res.title}}</a></h2>
						</div>
						<div class="content">
							<img src="images/img1.jpg" width="100%"/>
							<p> {{res.content}}</p>
							<p> {{res.content}}</p>
							<p> {{res.content}}</p>
						</div>
						<div class="info">
							<ul>
								<li ng-repeat="x in res.comment">
									<p>{{x.subject}}</p>
									<p>{{x.ctime}}</p>
									<p>{{x.comment}}</p>
								</li>
							</ul>

						</div>
					</article>
					
					<section>
						<h3>Leave a Comment</h3>
						
						<form id="contact-form">
						    <fieldset>
						        <label><input ng-model="email" name="email" value="Email" onBlur="if(this.value=='') this.value='Email'" onFocus="if(this.value =='Email' ) this.value=''" /></label>
						        <label><input ng-model="subject" name="subject" value="Subject" onBlur="if(this.value=='') this.value='Subject'" onFocus="if(this.value =='Subject' ) this.value=''" /></label>
						        <textarea ng-model="comment" onBlur="if(this.value=='') this.value='Message'" onFocus="if(this.value =='Message' ) this.value=''">Message</textarea>
						        <div class="buttons">
						            <a style="color: #76D2C5" href="#" ng-click="reset()">Clear</a>
						            <a style="color: #76D2C5" href="#" ng-click="submit()">Send</a>
						        </div>											
						    </fieldset>           
						</form>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>
</div>
<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        var url = location.search;
        var text_id = url.split("=")[1]
		$http({method: 'POST', url: '/api/info', params: {text_id: text_id}}).success(function (response) {
		    var res = response.result;
		    $scope.res = res;
        });
        $http.get('/api/list?user_id=jiaogf').success(function (response) {
                $scope.result = response.result;
                $scope.reset();
            });
        $scope.get_info = function (text_id) {
            window.location.href = 'blog1.html?text_id=' + text_id
            };
         $scope.reset = function () {
             $scope.email = "Email";
             $scope.subject = "Subject";
             $scope.comment = "Message";

         };
         $scope.submit = function () {
             var data = {

                 "email": $scope.email,
                 "subject":$scope.subject,
				 "comment":$scope.comment,
				 "text_id": text_id,

			 }
			 $http({method: 'POST', url: '/api/comment', params: data}).success(function (response) {
			     $scope.res = response.result;
			     $scope.reset();
        });

         };
    });
</script>
</body></html>